<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are PONDERFUL Groups?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        You can use PONDERFUL Groups to create and manage collections of datasets.
        The datasets have been organised by project work packages, as a very simple way to help people find and search your own published datasets.
      {% endtrans %}
    </p>
  </div>
</div>
