<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are PONDERFUL Organisations?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        PONDERFUL Organisations are considered contibutors of the PONDERFUL Information System.
        The list of contributors is used to create, manage and publish groups of datasets.
        Users can have different roles within an Organisation, depending on their level of authorisation to create, edit and publish.
      {% endtrans %}
    </p>
  </div>
</div>
