/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */

.homepage .hero {
  background: url(/pond.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 364px;
}

.masthead {
  background-color: white;
}

.account-masthead {
    background-color: #28b573;
}

/* Change the colors of the "Search Your Data" box. */

.homepage .module-search .module-content {
    background-color:#28b573;
    border-bottom: medium none;
    border-radius: 3px 3px 0 0;
}

.homepage .module-search .tags {
    background-color: #2daae1;
    border-radius: 0 0 3px 3px;
    padding: 5px 10px 10px;
}

.masthead {
  border-bottom: #28b573 10px solid;
}

.masthead .main-navbar > ul > li > a, .masthead .main-navbar > ul > li > a:focus, .masthead .main-navbar > ul > li > a:hover, .masthead .main-navbar > .active > a, .masthead .main-navbar > .active > a:hover, .masthead .main-navbar > .active > a:focus {
    color: #28b573;
    font-weight: bold;
    text-shadow: none;
}

.masthead .main-navbar ul li a:hover, .masthead .main-navbar ul li.active a {
    background-color: #2daae1;
    color: #FFF;
    font-weight: bold;
}

.media-overlay .media-heading {
    background-color: white;
    border-radius: 0 0 3px 3px;
    bottom: 0;
    color: #fff;
    font-size: 13px;
    left: 0;
    margin: 0;
    padding: 12px 10px;
    position: absolute;
    right: 0;
    z-index: 1;
}

/* Set the main logo properties*/

.logo img {
  max-width:250px;
  padding:5px;
}

/* Set the EU flag sybol properties*/

.eu-flag-footer {
  padding-right: 5px;
  padding-bottom: 5px;
}

/*This section is for buttons*/

.btn-primary {
    background-color: #2daae1;
    background-image: linear-gradient(to bottom, #2daae1,#2daae1);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}



/* ====================================
   The footer at the bottom of the site
   ==================================== */

.site-footer,
body {
  background-color: #28b573;
}
/* The text in the footer. */
.site-footer,
.site-footer label,
.site-footer small {
  color: rgba(255, 255, 255, 0.6);
}
/* The link texts in the footer. */
.site-footer a {
  color: rgba(255, 255, 255, 0.6);
}

/* Upstream fixes */

.row > article {
  padding-right: 0;
  padding-left: 0;
}

.row > .primary {
  padding-right: 0;
  padding-left: 0;
}

.homepage .module-stats .card ul li a strong {
  font-size: 35px;
  line-height: 1.5;
}

.homepage .module-stats .card ul li {
  margin-right: 20px;
}
